<% spec_files = Dir.glob(expand_path('../app/**/*_spec.js')).map { |x| relative_src(x).dump } -%>
<% functional_files = Dir.glob(expand_path('../app/functionals/*.js')).map { |x| relative_src(x).dump } -%>
<!DOCTYPE html>
<html>
<head>
<title>Closure-Script Boilerplate</title>
<style>
  body { background: #222; }
  div#left { width: 350px; overflow: scroll-y }
  a { color: #fff; font-weight: bold; font-family: monospace; text-decoration: none; font-size: 16px; border-radius: 3px; background: #555; padding: 4px 8px; display: inline-block; text-shadow: 1px 1px #000 }
  a span { font-weight: normal; font-size:12px; font-family: 'HelveticaNeue', sans-serif; margin-bottom:4px; display:inline-block; color: #ccc; }
  a:hover, a.selected { background: #fff; color:#000; box-shadow: #000 1px 1px 2px;  text-shadow: 1px 1px #ccc }
  a:hover span, a.selected span { color:#525252; }
  button { color: #fff; font-weight: bold; font-family: monospace; text-decoration: none; font-size: 16px; border-radius: 8px; background: #888; padding: 4px 8px; text-align: center; margin: 5px auto; width: 200px }
  button:hover { background: #fff; color:#525252; box-shadow: #000 1px 1px 2px; }
  ul { margin-left: 0; padding-left: 10px; margin-bottom: 10px }
  li { list-style: none; margin-left: 0; margin-bottom: 12px; }
  ul#specs, ul#functionals { overflow: hidden; }
  ul#specs li, ul#functionals li { float: left; margin-right: 12px; }
  #iframeContainer { position: absolute; top: 0; bottom: 0; left: 350px; right: 0; }
  iframe { border: 0; padding: 0; margin: 0; width: 100%; height: 99%; background: #fff; }
</style>
  <script src="/closure-library/closure/goog/base.js"></script>
  <script src="/spec_helpers/jquery.js"></script>
  <script>
    goog.require('goog.dom');
    goog.require('goog.events');
    goog.require('goog.events.KeyCodes');
    goog.require('goog.events.KeyHandler');
    goog.require('goog.testing.events');
  </script>
</head>
<body>
<div id="left">
  <div align="center">
    <button id="refresh">Refresh</button>
  </div>
  <ul>
    <li><a href="#" id="showHideSpecs">specs</a> <a href="#" id="showHideFunctionals">functionals</a></li>
  </ul>
  <ul id="specs">
    <li><a href="spec.html" target="iframe" id="allSpecs">all<br/>specs</a></li>
    <% spec_files.each do |item|
         item = item.gsub( /"/, '' ).gsub('../','').gsub(/app\//, '').gsub( /_spec\.js/, '' )
         items = item.split('/')
         name = items.pop
         items = items.join(' &gt; ') %>
        <li><a href="spec?<%= item %>" target="iframe"><span><%= items %></span><br/><%= name %></a></li>
    <% end %>
  </ul>
  <ul id="functionals">
    <% functional_files.each do |item|
         item = item.gsub( /"/, '' ).gsub('../','').gsub(/app\/functionals\//, '')
         name = item.gsub(/\.js/,'')
         ns = 'foo'
         File.open('../app/functionals/'+item) {|f| ns = f.readline.gsub(/(goog\.provide\('|'\);)/,'') } %>
        <li><a href="/dev?ns:<%= ns %>" target="iframe"><%= ns.gsub(/app\.functionals\./,'') %></a></li>
    <% end %>
  </ul>
  <hr/>
  <ul>
    <li><a href="/dev" target="iframe">Development</a></li>
    <li><a href="/dev?debug_static" target="iframe">Debug</a> <a href="/dev?build:debug" target="iframe">(Builder)</a></li>
    <li><a href="/dev?production_static" target="iframe">Production</a> <a href="/dev?build:production" target="iframe">(Builder)</a></li>
  </ul>
  <hr/>
  <ul>
    <li><a href="/externsgen" target="iframe">Externs Generator</a></li>
    <li><a href="/closure-library/closure/goog/demos/index.html" target="_blank">Closure Demos</a></li>
    <li><a href="http://closure-library.googlecode.com/svn/docs/index.html" target="_blank">Closure Library API docs</a></li>
    <li><a href="http://code.google.com/closure/templates/docs/commands.html" target="_blank">Closure Templates API docs</a></li>
  </ul>
</div>
<div id="iframeContainer">
  <iframe frameborder="0" id="iframe"></iframe>
</div>
<script>
  var spec = null, functional = null;
  var refreshFrame = function () {
    $('#iframe')[0].contentWindow.location.reload(true);
  };
  var clearCurrents = function() {
    if ( spec ) {
      spec.className = '';
    }
    if ( functional ) {
      functional.className = '';
    }
  };
  $(document).ready(function(){
    $('#refresh').click(function(e){
      e.preventDefault();
      refreshFrame();
    });
    $('#allSpecs, #specs a').click(function(e){
      clearCurrents();
      spec = this;
      if ( spec ) {
        spec.className = "selected";
      }
    });
    $('#functionals a').click(function(e){
      clearCurrents();
      functional = this;
      if ( functional ) {
        functional.className = "selected";
      }
    });
    $('#showHideSpecs').click(function(e){
      e.preventDefault();
      $('#showHideSpecs')[0].className = 'selected';
      $('#showHideFunctionals')[0].className = '';
      $('#specs').show();
      $('#functionals').hide();
    });
    $('#showHideFunctionals').click(function(e){
      e.preventDefault();
      $('#showHideFunctionals')[0].className = 'selected';
      $('#showHideSpecs')[0].className = '';
      $('#functionals').show();
      $('#specs').hide();
    });
    $('#showHideFunctionals').trigger('click');
  });
  goog.events.listen(new goog.events.KeyHandler(document), goog.events.KeyHandler.EventType.KEY, function(e) {
    if (e.keyCode == goog.events.KeyCodes.R) {
      refreshFrame();
    }
    if (e.keyCode == goog.events.KeyCodes.A) {
      var event = document.createEvent("MouseEvents");
      event.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      $('#allSpecs')[0].dispatchEvent(event);
    }
  });
</script>
</body>
</html>
